asgiref==3.6.0
asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
convertdate==2.4.0
decorator==5.1.1
Django==4.1.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
executing==1.2.0
ipdb==0.13.11
ipython==8.11.0
jedi==0.18.2
lunardate==0.2.0
matplotlib-inline==0.1.6
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.38
psycopg2-binary==2.9.5
pure-eval==0.2.2
pycodestyle==2.10.0
Pygments==2.14.0
PyJWT==2.6.0
pyluach==2.2.0
PyMeeus==0.5.12
python-dateutil==2.8.2
python-dotenv==1.0.0
python-environ==0.4.54
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
stack-data==0.6.2
tomli==2.0.1
traitlets==5.9.0
tzdata==2022.7
wcwidth==0.2.6
workadays==2022.8.8
workalendar==17.0.0
